#section-main {
    position: relative;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 118vh;
    text-align: center;
    display: grid;
  }
  
#navbar {
    position: absolute;
    width: 100%;
    height: 103px;
    left: 0px;
    top: 0px;
    background: #74959A;
  }

#logo {
    position: absolute;
    width: 300px;
    height: 43.82px;
    left: 45px;
    top: 25px;
  }

/* #galeria-home {
    position: absolute;
    width: 1268px;
    height: 433px;
    left: 87px;
    top: 226px;
} */
